@import 'styles/variables';
@import 'styles/mixins';

.weather-widget {
  margin: 15px auto 30px;
  box-shadow: $widget-body-shadow;
  padding: 20px 0;
  max-width: 992px;

  @include media-breakpoint-down(sm) {
    padding-top: 10px;
    padding-bottom: 0;
  }
}
